/* - - - - - - - - - - - - - - - - - - - - */
/* Reset
/* - - - - - - - - - - - - - - - - - - - - */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, input, textarea, img, blockquote, iframe, code, pre{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
	background: url(../img/bg.jpg) repeat 0 0 #f1f0e9;
}

#canvas{
	display: block;
	margin: 30% auto 0;
}